@use '../custom' as *;

a {
    color: $white;
    font-size: 0.9rem;

    &:hover{
        color: $yellow-300;
    }
}

.sosmed {
    a{
        color: $yellow-200;

        &:hover{
            color: $yellow;
        }
    }
}