.tombol {
  float: left;
  margin: 0 5px 0 0;
  width: 200px;
  height: 40px;
  position: relative;
}

.tombol label,
.tombol input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tombol input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.tombol input[type="radio"]:checked + label {
  background: #ff9f1a;
  border-radius: 4px;
}

.tombol label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}